body,html{
    margin: 0;
    padding: 0;
    height: 100%;
}

#root{
    background-color: rgb(255, 255, 255);
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.main{

}

form {
    font-size: 15px;
    background-color: white;
    max-width: 500px;
}

.sexo {
    margin-left: 5%;
    color: black;
    font-size: 20px;
}

input, textarea {
    width: 200px;
    padding: 10px;
    color: black;
    margin-left: 5%;
    margin-top: 2%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    
}

input:hover, textarea:hover, input:focus, textarea:focus {
    color: rgb(67, 67, 136);
    font-weight: bold;
}

.enviar {
    background-color: #ffffff;
    height: 40px;
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid;
    color: black;
}

textarea {
    width: 400px;
    height: 120px;
    line-height: 20px;
    max-width: 400px;
}

.meu_form{
    border-radius: 10px;
    height: 350px;
}